extends layout

block content
  
  h1= title
  -
    let animalid = toShow._id
  -
    let AnimalName = toShow.AnimalName
  -
    let AnimalType = toShow.AnimalType
  -
    let AnimalColour = toShow.AnimalColour
  div.row(class='mb-2')
    div.mr-1 ID is
    div #{animalid}
  -
    let actionid = "/resource/animals/" + animalid
  form(id='animalForm', action= actionid, method="PUT")
    div.form-group
      label.animalAttr(for='AnimalName') Animal Name 
      input.outlined-input(type='text', name='AnimalName', value= AnimalName )
    div.form-group
      label.animalAttr(for='AnimalType') Animal Type
      input.outlined-input(type='text', name='AnimalType', value= AnimalType )
    div.form-group
      label.animalAttr(for='AnimalColour') Animal Colour
      input.outlined-input(type='text', step='any', name='AnimalColour', value= AnimalColour )
    input(type="submit")
  
  script.
    document.forms['animalForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        if (resp.ok){
            alert('animal updated successfully')
            document.getElementById("animalForm").reset()
        }
        else{
            alert("failed to update animal")
        }
      }).then((body) => {
        console.log(body);
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });