body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.animalAttr {
  background-color: aquamarine;
  width: 120px;
}


.outlined-input {
  border: 2px dashed #ffcc00;
  border-radius: 8px;
  padding: 12px;
  background-color: #1a1a1d;
  color: #ffcc00;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: border-color 0.3s ease-in-out;
}

.outlined-input:focus {
  border-color: #ffcc00;
  box-shadow: 0 0 10px rgba(255, 204, 0, 0.6);
}




